# Node
node_modules/
npm-debug.log
*.log
*.gz
.env

# Minecraft server generated content
minecraft-server/world/
minecraft-server/logs/
minecraft-server/eula.txt
minecraft-server/whitelist.json
minecraft-server/ops.json
minecraft-server/banned-*.json
minecraft-server/usercache.json

# Personal shell/config files
.bash*
.cache/
.lesshst
.local/
.npm/
.pm2/
.profile
.ssh/
.vim*
.sudo_as_admin_successful

# Editors/project metadata
*.swp
*.bak
.DS_Store
.vscode/

# Backups
backup-old-site/

